<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto K | LePravda</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/slick-theme.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap" />
    <link rel="icon" type="image/svg" href="../static\imgs\logo_lepravda.svg" sizes="16x16" />
</head>

<body class="bg-black muli" >    
    <nav class="bg-imagen-ad w-100pc flex flex-column md-flex-row md-px-10 py-5 bg-black">
        <div class="flex justify-between">
            <a href="https://lepravda.com/" target="_blank" class="sb_footer_sponsor_item" rel="noopener noreferrer">
            <img  width="200" height="200" src="..\static\imgs\logo_lepravda_complete.svg" alt=""/></a>
        </div>
    </nav>   
<!-- Anime Notify  -->
    <section class="bg-imagen-ad p-l0 md-p-l5">
        <article class="fw-600 white fs-m3 mt-3">
            <form action="/" method="POST">
                <h1> Anime Notify</h1>
                <input name="anime_input" placeholder="ej. Spy x Family">
                <button type="submit">Buscar</button>
                <ul>
                    {% for anime in busquedas %}
                    {% set index = loop.index0 %}
                    {% if index < links_animes|length %}
                        <li><a target="_blank" rel="noopener noreferrer" href="{{ links_animes[index] }}">{{ anime }}</a></li>
                    {% endif %}
                    {% endfor %}
                    </ul>
            </form>
        </article>
    </section>
    <!-- Anime Notify  -->
</section>

<footer class="p-5 md-p-l5 bg-indigo-lightest-10">
    <div class="white opacity-70 fs-s2 mt-4 md-pr-10">
        <p>¿Qué es LePravda?</p>
        </div>
    <div class="flex justify-around ">
        <div class="md-w-25pc mb-10">
            <div class="white opacity-70 fs-s2 mt-4 md-pr-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod congue 
                    enim et rutrum. Etiam tincidunt velit sed erat laoreet tristique. Donec at 
                    consequat nulla.</p>
            </div>
        </div>
        <div class="w-100pc md-w-50pc">
            <div class="flex justify-around">
                <div class="w-33pc md-px-10 mb-10">
                    <h5 class="white">Links</h5>
                    <ul class="list-none mt-5 fs-s2">
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Sobre
                                LePravda</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Soporte</a>
                        </li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Aviso Legal</a>
                        </li>
                        <li class="my-3"><a href="#"
                                class="white opacity-70 no-underline hover-underline">Contacto</a></li>
                    </ul>
                </div>
                <div class="w-33pc md-px-10 mb-10">
                    <h5 class="white">elif_Gang </h5>
                    <ul class="list-none mt-5 fs-s2">
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Proyecto K</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Proyecto L</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Proyecto A</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Proyecto G</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-100pc md-w-25pc">
            <div class="flex justify-around my-8"> 
                <a href="#" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400">
                <i data-feather="github" class="absolute-center h-4"></i> 
                </a> 
                <a href="#" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400">
                <i data-feather="facebook" class="absolute-center h-4"></i>
                </a> 
                <a href="#" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400">
                <i data-feather="youtube" class="absolute-center h-4"></i>
                </a> 
            </div>
        </div>
    </div>
    <small class="block white opacity-40 fs-s3 mt-3 text-center" id="year"></small>
</footer>
<script src="../static/js/addons.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
<script src="assets/js/aviso-cookies.js"></script>
<script src="assets/js/script.js"></script>
</body>

</html>