<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Notificador</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Operaciones matemáticas con Flask</h1>
    <h2>Suma de dos números</h2>
    <p>Introduzca dos números y pulse el botón para obtener la suma.</p>
    <form action="/" method="POST">
        <><p>Input 1: <input name="misvalores" value="{{ val1 }}"></p>
        <p>Input 2: <input name="misvalores" value="{{ val2 }}"></p>
        <input type="submit" value="Sumar">
    </form>
    <br>
    <p>Resultado: {{ result }}</p>
</body>
</html>